{
    "id": "autoscaling-policy-economy",
    "loadThresholds": {
        "requestsInFlight": {
            "threshold": 20
        },
        "memoryConsumption": {
            "threshold": 80
        },
        "loadAverage": {
            "threshold": 120
        }
    }
}
